cpp_linux_g++/test/*.o
cpp_linux_g++/test/*.out
cpp_linux_g++/test/usr
*.DS_Store
node_modules
/jupyter/RL_silver/.ipynb_checkpoints/
/llms/chatgpt/.ipynb_checkpoints/
/llms/guidance/notebooks/.ipynb_checkpoints/
/llms/GPTQ/models/__pycache__/
/llms/GPTQ/notebooks/.ipynb_checkpoints/
